:root,
.light-mode {
  --main-bg-color: white;
  --main-color: rgb(127, 127, 127);
  --main-eee: #eee;
  --main-links: rgba(0, 0, 0, 0.5);
  --main-links-on: rgba(0, 0, 0, 0.8);
  --main-home-bg-color: aliceblue;

  --main-link-bg: #eee;
}

.dark-mode {
  /* @media (prefers-color-scheme: dark) { */
  --main-bg-color: rgb(28 28 36);
  --main-color: rgb(208, 205, 205);
  --main-eee: #eee;
  --main-links: rgba(255, 255, 255, 0.5);
  --main-links-on: rgba(255, 255, 255, 0.8);
  --main-home-bg-color: rgb(39, 39, 55);

  --main-link-bg: #100b0b;
}

.vanished {
  transform: scale(0);
}

.dark-mode h4 {
  color: #939393;
}

.dark-mode .work-item h4,
.dark-mode .education-item h4 {
  /* color: burlywood; */
  color: #939393;
}

html,
body {
  background-color: var(--main-bg-color);
  transition: background-color 0.3s ease;
}

.dark-mode-div {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  /* background-color: red; */
  background-position: center;
  background-size: cover;
}
.dark-mode-div.light {
  background-image: url("../img/city-night.png");
}
.dark-mode-div.dark {
  background-image: url("../img/city-sun.png");
}
/* body {
  transition: background-color 0.2s ease;
} */

* {
  font-size: 0.9rem;
  box-sizing: border-box;
  color: var(--main-color);
  transition: color 0.2s ease;
}

.dark-mode-button {
  cursor: pointer;
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
}

.mobile-version-placeholder {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-version-placeholder > * {
  margin: 1rem 0;
}

.mobile-version-placeholder > a {
  background-color: var(--main-eee);
  transition: background-color 0.2s ease;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 0;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.header {
  width: 100vw;
  background-color: transparent;
  padding: 1rem;
  height: 3rem;
  /* background-color: red; */
}

.header .navigation {
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.header .navigation a {
  color: var(--main-links);
  transition: color 0.2s ease;

  margin-right: 0.5rem;
  transition: all 0.2s ease;
}
.header .navigation a:hover {
  color: var(--main-links-on);
  transition: color 0.2s ease;
}
.header .navigation a.selected {
  color: var(--main-links-on);
  transition: color 0.2s ease;
}

.header .navigation > .row > div {
  padding: 0 0.5rem;
  /* opacity: 0.5; */
  /* cursor: pointer; */
  position: relative;
  /* font-variant: small-caps; */
}

.header .navigation > .row {
  align-items: center;
}

/* .header .navigation > .row > div {
  border-right: solid 1px rgba(0, 0, 0, 0.8);
}
.header .navigation > .row > div:last-of-type {
  border-right: none;
} */

.header .title {
  align-items: center;
}
.header .title p {
  text-align: center;
}
.header .title .picture {
  width: 3rem;
  height: 3rem;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 1rem;
  background-image: url("../img/me.png");
  background-size: cover;
}

.about-pic {
  width: 8rem;
  height: 8rem;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-image: url("../img/pierreportal.jpg");
  background-size: cover;
}
.header .title .row {
  align-items: center;
  margin-bottom: 1rem;
}

.header .title h1 {
  /* font-weight: 400; */
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.cv-container,
.contact-container,
.about-container {
  width: 100vw;
  flex: 1;
  height: calc(100vh - 4rem);
  padding: 1rem 1rem 0 1rem;
}

.about-container .text-content {
  max-width: 50rem;
}
.about-container a,
.contact-container a {
  /* background-color: var(--main-eee); */
  padding: 0.3rem 0.15rem;
  /* border-radius: 0.2rem; */
  /* margin-left: 0rem; */
  border-bottom: solid 2px var(--main-eee);
}

.about-stack-of-choice {
  width: 100%;
}
.about-stack-of-choice h3 {
  margin: 2rem 0 0.3rem 0;
}

.text-content {
  width: 70%;
  margin: auto;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-content p {
  margin-bottom: 2rem;
}

.cv-container > .col > div {
  /* background-color: #eee; */
  margin-right: 0.5rem;
  overflow-y: scroll;
  padding: 1rem 2rem 0rem 2rem;
  height: 100%;
}

.cv-container > .col:nth-of-type(even) > div {
  /* background-color: #eee; */
}
.cv-container > .col:nth-of-type(2) > div {
  /* padding: 0; */
}
/* 
.cv-container > .col > div > .content {
  min-height: auto;
  border-right: dashed 1px rgb(127, 127, 127);
} */

.cv-container > .col > div::-webkit-scrollbar {
  display: none;
}
.cv-container > .col {
  height: calc(
    100vh - 4rem
  ); /* full screen height - header height - 2 x paddings */
}
.cv-container > div:first-of-type {
  flex: 2;
}
.cv-container > div:nth-of-type(2) {
  flex: 5;
}
.cv-container > div:last-of-type {
  flex: 3;
  margin-right: 0;
}

.cv-container h4 {
  margin-bottom: 1rem;
  font-variant: small-caps;
  width: 100%;
  /* text-align: center; */
}

.cv-skills-column ul {
  margin-bottom: 2rem;
  list-style: none;
  padding: 0;
  /* border-right: dashed 1px rgb(127, 127, 127); */
}

/* .cv-skills-column ul:first-of-type {
  color: orange;
}
.cv-skills-column ul:nth-of-type(2) {
  color: blue;
} */

.cv-skills-column ul li {
  font-variant: small-caps;
  padding: 0.15rem 0;
  position: relative;
  cursor: default;
  transition: all 0.2s ease;
}

.cv-skills-column ul:first-of-type li:hover::before {
  width: 100%;
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: -0.3rem;
  border-radius: 0.3rem;
  background-color: lemonchiffon;
  z-index: -2;
  opacity: 0.5;
}

.skill-levelbar {
  position: absolute;
  top: 0;
  left: -0.3rem;
  border-radius: 0.3rem 0 0 0.3rem;
  height: 100%;
  z-index: -1;
  background-color: rgb(174, 242, 174);
  opacity: 0.5;
}

.work-item {
  background-color: var(--main-bg-color);
  transition: background-color 0.2s ease;

  padding: 0.8rem;
  border-bottom: solid 1px var(--main-eee);
  position: relative;
  transition: all 0.2s ease;

  /* margin-bottom: 0.5rem; */
}

.dark-mode .work-item {
  border-bottom: solid 1px rgba(127, 127, 127, 0.113);
}
/* .work-item:hover {
  background-color: rgba(238, 238, 238, 0.2);
} */
.work-item:last-of-type {
  border-bottom: none;
  margin-bottom: 2rem;
}

.work-item .icon {
  /* background-color: lavenderblush; */
  width: 2rem !important;
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 2rem;
  margin-right: 2rem;
}

.work-item .text {
  text-align: left;
  justify-content: flex-start;
}

.work-item .text h4 {
  text-align: left;
  width: auto;
  margin-right: 1rem;
  /* font-variant: normal; */
}

.tech-tag {
  font-size: 0.7rem;
  margin-right: 0.3rem;
  border-radius: 0.3rem;
  height: 1.2rem;
  padding: 0.1rem;
  color: rgb(171, 171, 171);
  background-color: #100b0b05;
}
.tech-tag.python,
.tech-tag.nodeJS,
.tech-tag.nodejs,
.tech-tag.pytorch,
.tech-tag.mongodb,
.tech-tag.vue {
  color: green;
  background-color: rgba(0, 255, 0, 0.1);
}
.tech-tag.flask {
  color: tomato;
  background-color: rgba(255, 99, 71, 0.1);
}

.tech-tag.express {
  color: rgb(30, 171, 143);
  background-color: rgba(030, 171, 143, 0.1);
}
.tech-tag.tensorflow {
  color: orange;
  background-color: rgba(255, 162, 0, 0.1);
}

.tech-tag.pandas,
.tech-tag.numpy,
.tech-tag.scikitlearn,
.tech-tag.meteor {
  color: slateblue;
  background-color: rgba(105, 90, 205, 0.1);
}

.tech-tag.react {
  color: rgb(46, 164, 203);
  background-color: rgba(44, 132, 255, 0.1);
}
.tech-tag.javascript,
.tech-tag.p5,
.tech-tag.jquery {
  color: coral;
  background-color: rgba(255, 117, 31, 0.1);
}
.work-item .text a {
  text-decoration: none;
  font-size: 0.7rem;
  padding: 0.3rem;
  background-color: var(--main-link-bg);
  transition: background-color 0.2s ease;

  width: auto;
  display: flex;
  position: absolute;
  right: 0;
  transition: all 0.2s ease;
}

.work-details-stack {
  margin-top: 0.5rem;
  /* font-weight: bold; */
}

.experience-item {
  margin-bottom: 1rem;
}

.exp-item {
  margin: 0.5rem 0;
  justify-content: flex-start;
  align-items: center;
}

.exp-item h4 {
  width: auto;
  margin-right: 0.3rem;
  padding: 0;
  margin: 0 0.3rem 0 0;
}

.exp-item .company {
  background-color: var(--main-link-bg);
  transition: background-color 0.2s ease;

  color: rgb(105, 109, 150);
  font-variant: small-caps;
  padding: 0.2rem;
  margin-right: 0.3rem;
}

.exp-item .dates {
  font-size: 0.7rem;
}

.home-container {
  width: 100vw;
  height: calc(100vh - 3rem);
  background-color: var(--main-home-bg-color);
  transition: background-color 0.2s ease;
  overflow: scroll;
}

.home-item-particle {
  width: 1rem;
  height: 1rem;
  background-color: thistle;

  /* cursor: pointer; */
  transition: all 0.2s ease;
  border-radius: 0.1rem;
}

.home-item-particle.python {
  background-color: transparent;
  border-bottom: 1rem solid green;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-radius: 0;
}
.home-item-particle.python:hover,
.home-item-particle.python.displayed {
  border-bottom: 1rem solid black;
}
.home-item-particle.javascript {
  background-color: orange;
  border-radius: 50%;
}

.home-item-particle.machinelearning {
  background-color: coral;

  /* transform: rotate(45deg); */
  height: 0.5rem;
  width: 1.3rem;
  border-radius: 0.5rem;
}
.home-item-particle:not(.python):hover,
.home-item-particle:not(.python).displayed {
  background-color: black;
}

.home-container .project-display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
}

/* .home-container .project-display > h4 {
  z-index: 1;
  mix-blend-mode: exclusion;
} */

.home-container .project-display h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: solid 2px var(--main-color);
  transition: border-bottom 0.2s ease;
}

.home-container .project-display p {
  margin-bottom: 1rem;
}

.home-tech-tags {
  margin-bottom: 1rem;
}

.home-title-link {
  background-color: var(--main-link-bg);
  transition: background-color 0.2s ease;
  padding: 0.2rem;
}

.home-new-project-tag {
  padding: 0.15rem 0.15rem;
  background-color: #ffffe1;
  width: 2.5rem;
  color: orange;
  border-radius: 0.3rem;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
  text-align: center;
  font-variant: small-caps;
  /* font-style: italic; */
  font-weight: bold;
  font-size: 0.7rem;
}

.home-container .grid {
  display: grid;
  height: calc(100vh - 3rem);
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  padding: 0.6rem;
  grid-gap: 0.6rem;
}
.home-container .grid > div {
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}
.home-container .grid > div:nth-of-type(even) {
  background-color: rgb(28 28 35 / 10%);
  /* background: linear-gradient(
    180deg,
    rgb(28 28 35 / 17%),
    var(--main-home-bg-color)
  ); */
}

@media only screen and (max-width: 1200px) {
  .cv-container > .col:first-of-type {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .cv-container {
    flex-direction: column;
  }
  .work-item .icon {
    display: none;
  }
  .header .navigation {
    flex-direction: column;
  }
  .header .navigation > .row:last-of-type {
    display: none;
  }
  .cv-container > .col > div {
    height: auto;
    overflow-y: visible;
  }
}

/*  */

.sunrise-container {
  width: 3rem;
  height: 3rem;
  background-color: rgb(114, 177, 255);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 0.3rem;
  transform: scale(0.5);
  cursor: pointer;
}

.sunrise-container.night {
  background-color: darkblue;
}
.sunrise-container.night > .sunrise-weel {
  transform: rotate(225deg);
}
.sunrise-weel {
  bottom: 0;
  left: -3.8rem;
  width: 6rem;
  height: 1rem;
  position: absolute;
  transition: all 0.5s ease;
}
.sunrise-container.day > .sunrise-weel {
  transform: rotate(150deg);
}
.sun {
  width: 1.5rem;
  height: 1.5rem;
  background-color: orange;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 10px 1px orange;
}
.moon {
  width: 1.7rem;
  height: 1.7rem;
  background-color: lightyellow;
  border-radius: 50%;
  position: relative;
  margin-top: 10px;
  margin-left: 35px;
  border: solid 1px lightyellow;
  /* box-shadow: 0px 0px 10px 1px lightyellow; */
}
.moon::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: darkblue;
  top: 0;
  left: 7px;
  position: absolute;
  /* border: solid 10px darkblue; */
}
.moon::before {
  content: ".";
  font-size: 2rem;
  font-weight: 100;
  color: white;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  top: 15px;
  left: -10px;
  position: absolute;
}

.sunrise-container.day:hover {
  background-color: rgb(88, 88, 237);
}
/* .sunrise-container.day:hover > .sunrise-weel {
  transform: rotate(160deg);
} */

.sunrise-container.night:hover {
  background-color: blue;
}
/* .sunrise-container.night:hover > .sunrise-weel {
  transform: rotate(220deg);
} */

.portfolio-container {
  width: 100vw;
  flex: 1;

  box-sizing: border-box;
  /* padding: 1rem 1rem 0 1rem; */
  background-color: var(--main-home-bg-color);
  overflow-y: scroll;
}

.portfolio-grid {
  display: grid;
  height: calc(100vh - 3rem);
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(800px); */
  padding: 0.6rem;
  grid-gap: 0.6rem;
}
.portfolio-grid > div {
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  height: 300px;
}
.portfolio-grid > div {
  /* background: url("../img/city-night.png");
  background-position: center;
  background-size: cover; */

  background-color: rgb(28 28 35 / 10%);
}
.not-exist {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  height: 70vh;
}

.not-exist h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
