*{
  margin: 0;
  padding: 0;
}

body{
  padding: 0px 50px 50px 50px;
  color: #282c34;
  width: 900px;
  margin: auto;
}
.App{
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}

.head-menu{
  width: 100%;
  padding-top: 50px;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
   /*
  z-index: -1; */
  background-color: white; 

}

.head-menu ul {
  padding: 0;
  list-style: none;
}
.head-menu li  {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #282c34;
}

.head-title{
  font-size: 1.2em;
  padding: 10px;
}
.profile-head-pic{
  width: 50px;
  height: 50px;
  background-image: url('./img/me.png');
  background-size: cover;
  background-color: #a5a5a5;
  border-radius: 50%;
}
.home-tag-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 30px 0;
  /* justify-content: space-between; */
  
}
.home-tag-container span{
  margin: 0 10px;
  font-size: .9em;
}
.home-tag-container span:first-child{
  margin: 0 10px 0 0;
}
.main-container{
  /* margin: 50px 0 0 0; */
  width:100%;
  height: 100%;
  /* background-color: #09d3ac; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex: 1;
}
.list-of-tags{
  padding: 0;
  list-style: none;
}


.cat-tag {
  /* text-decoration: line-through; */
  border: 1px solid rgb(109, 114, 161);
  display: inline-block;
  padding: 9px;
  border-radius: 5px;
  /* background-color: rgb(194, 255, 235); */
  margin-right: 10px;
  color: rgb(109, 114, 161);
  font-size: .8em;
  cursor: pointer;
  transition-duration: .5s;
}
.cat-tag:last-child{
  margin-right: 0;
}

/*ACTIF*/
.cat-tag-actif {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  color: rgb(194, 255, 235);
  margin-right: 10px;
  background-color: rgb(109, 114, 161);
  font-size: .8em;
  cursor: pointer;
  transition-duration: .5s;
}



.cat-tag-actif:last-child{
  margin-right: 0;
}


.cat-tag-sm{
  /* background-color: rgb(194, 255, 235); */
  color: rgb(109, 114, 161) !important;
  border: solid 1px rgb(109, 114, 161);
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.contact-card{
  width: 600px;
  padding: 10px;
  line-height: 1.5em
}
.contact-card ul{
  padding: 0;
  list-style: none;
}
.contact-card li, a{
  display: inline-block;
  color: rgb(109, 114, 161);
  font-size: .9em;
}
.search-home{
  padding: 15px 10px;
  width: 100%;
  border-radius: 5px;
  border: solid .5px #a5a5a5;

}
.search-home:focus{
  outline: none;
  border-color: rgb(109, 114, 161);
  /* color:   */
}
.error-nofound{
  width: 600px;
  margin: 5px;
  padding: 50px 10px;
  text-align: center;
  color: #666666;
}
.medium-post-min{
  /* background-color: aqua; */
  /* border-radius: 5px; */
  
  width: 600px;
  /* background-color: red; */
  color: #282c34;
  border-bottom: solid 1px #f1f1f1;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: .3s;
}

.medium-post-min:last-child{
  border:none;
}
.medium-post-min:hover{
  transition-duration: .3s;
  color: rgb(109, 114, 161);
  /* background-color: rgb(194, 255, 235); */
}
.medium-post-min span {
  color: #a5a5a5;
  font-size: .7em;
}
.medium-post-min p {
  color: #666666;
}
.post-icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* background-color: antiquewhite;  */
  margin-right: 40px;
  font-size: 2em;
  text-align: center;
  line-height: 70px;
  flex-basis: 70px;
  flex-grow: 0;
  flex-shrink: 0;
 
}